@mixin breakpoint($breakpoint, $direction) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);
  @if ($direction == max) {
    @media (max-width: ($breakpoint-value - 1)) {
          @content;
        }
  }
  @if ($direction == min) {
    @media (min-width: ($breakpoint-value)) {
      @content;
    }
  }
}


$breakpoints: (
  mobile: 768px,
  between: 1280px
);

@import "./stylesheets/auth.scss";
@import "./stylesheets/button";
@import "./stylesheets/font";
@import "./stylesheets/navbar";
@import "./stylesheets/product";
@import "./stylesheets/swiper";
@import "./stylesheets/home";
@import "./stylesheets/profileUser.scss";
@import "./stylesheets/basket.scss";
@import "./stylesheets/orderDetails.scss";
@import "./stylesheets/restaurant.scss";

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$orange: #F98335;