.auth {
  margin: 40px auto;
  
  form {
    padding: 12px 24px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 24px;

    input {
      border: 0px solid #ced4da;
      background-color: #FFE7D9;

      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }
  }
}