.auth {
  margin: 12px auto;
  
  form {
    max-width: 400px;
    padding: 12px 24px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 24px;
    margin: 0 auto;

    input {
      border: 0px solid #ced4da;
      background-color: #F6F5F4;

      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }

  }

  .error-message {
    border: solid 1px red;
    background-color: rgba(255, 0, 0, 0.281);
    padding: 12px;
    border-radius: 12px;
    margin-top: 24px;
    margin-bottom: 16px;

    p {
      margin: 0;
      color: black;
    }
  }
}