.basket {
    .basket-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 48px;

        .restaurant-details {
            width: 100%;
            position: relative;

            span {
                position: absolute;
                top: 22px;
                right: 24px;
                font-size: 24px;
            }
        }

        .product-list {
            margin-bottom:2em;
            padding: 0;
            list-style: none;
            width: 100%;

            .basket-img {
                width: 24px;
            }
        }
    }

    .product-cart {
        list-style: none;
        background-color: #FFE7D9;
        border-radius: 0.5em;
        padding:2em 2em .75em 2em;
        margin-bottom:2em;
        
        .cart-header{
            display: flex;

            img{
                max-width: 10%;
                max-height: auto;
                border-radius: 0.25em;
                // flex-grow: 1;
            }
        }

        .cart-footer{
            display: flex;
            justify-content: space-between;
            margin-top:5em;

            img{
                max-width: 3.5%;
                min-width: 2%;
                max-height: auto;
                border-radius: 0.25em;
                
            }
        }
    }

    .empty-basket{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 3em;
        
        img {
            max-width: 70%;
            margin-bottom: 3em;
            object-fit: cover;
            background-color: #f9a57259;
            padding:2em;
            text-align: center;
            border-radius: 80%;

            @include breakpoint(mobile, min) {
                max-width: 28%;
            }
        }

        .buttons {
            .btn {
                border: solid 2px #f9a57259 !important;
                background: #FFF;
                border-radius: 24px;
                font-size: 14px;
                padding: 0.7rem !important;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

                &:focus {
                    outline: none;
                }
            }
        }  
    }
}