.text-right {
  margin-top: 1rem;
}

h1 {
  margin-top: 24px !important;
}

.quantity {
  font-size: 18px;
  font-weight: 300;
  border: solid 1px #F98335;
  background-color: white;
  border-radius: 4px;
}