.auth, .add-product, .edit-product {
  margin: 12px auto;

  .error-message {
    border: solid 1px red;
    background-color: rgba(255, 0, 0, 0.281);
    padding: 12px;
    border-radius: 12px;
    margin-top: 24px;
    margin-bottom: 16px;

    p {
      margin: 0;
      color: black;
    }
  }
  
  form {
    max-width: 400px;
    padding: 12px 24px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 24px;
    margin: 0 auto;

    input, textarea {
      border: 0px solid #ced4da;
      background-color: #F6F5F4;

      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }

    select {
      &:focus {
        outline: none;
      }
    }

    img {
      max-width: 282px;
    }

    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  
    .inputfile + label {
      font-size: 1.25em;
      font-weight: 700;
      color: #161032;
      background-color: #cdfef3;
      display: inline-block;
      padding: 24px 0;
      text-align: center;
      margin-bottom: 24px;
    }
  
    .inputfile:focus + label,
    .inputfile + label:hover {
        background-color: #161032;
        color: white
    }
  
    .inputfile + label {
      cursor: pointer; /* "hand" cursor */
    }
  
    .inputfile:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }
  }
}