#home {
  .hero {
    .left {
      
      input {
        border: 0px solid #ced4da;
        background-color: #F6F5F4;

        &:focus {
          outline: 0;
          box-shadow: none;
        }
      }
    }

    .right {
      display: none;
    }

  }

  .buttons {
    overflow-x: scroll;
    display: flex;
    margin-top: 16px;

    button {
      border: none;
      background: #FFF;
      box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
      border-radius: 24px;
      font-size: 14px;
      padding: 0.7rem 0.7rem 0.6rem 0.7rem !important;
      display: inline-block;

      &:focus {
        outline: none;
      }
    }
  }

  .swiper-container {
    padding-top: 24px;
    padding-bottom: 24px;

    .swiper-card {
      padding: 24px 15px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      background-color: #FFF;
      width: 244px;

      img {
        object-fit: cover;
        width: 214px;
        height: 214px;
        border-radius: 12px;
      }
    }
  
    .swiper-pagination-bullet-active {
      background-color: black;
    }
  
    .swiper-pagination {
      margin-bottom: 24px;
      position: initial;
    }
  }


  @include breakpoint(mobile, min) {
    .hero {
      margin: 0;
      display: flex;
      padding: 80px;
      align-items: center;
      justify-content: space-between;
      background-image: linear-gradient(rgba(226, 226, 226, 0.7), rgba(226, 226, 226, 0.7)), url('https://images.unsplash.com/photo-1414235077428-338989a2e8c0?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVzdGF1cmFudHxlbnwwfHwwfA%3D%3D&auto=format&fit=crop&w=800&q=60');
      background-size: cover;

      .right {
        display: block;
        width: 40%;
        margin-left: 48px;
      }

      .left {
        width: 50%;

        input {
          border: 0;
        }
      }
    }

    .buttons {
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
      overflow-x: hidden;
    }

    .products {
      margin: auto 24px;
      max-width: 1280px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .card {
        padding: 24px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        background-color: #F6F5F4;
        margin: 24px auto;
        width: 244px;
        border: 0;

        img {
          object-fit: cover;
        }
      }
    }
  }
}