.logo {
		width: 40px;
}

.navbar-toggler {
    border: none !important;

    &:focus {
        outline: none;
    }
}

.nav-link {
    margin: 0 auto;
}

.nav-item {
	position: relative;

	span {
    font-size: 0.55em;
    position: absolute;
    top: 4px;
    left: 30px;
		background-color: #FA8334;
		color: #ffffff;
		padding-left: .45em;
		padding-right: .45em;
		border-radius: 50%;
		text-align: center;
		font-weight: 900;
	}
}