.logo {
	width: 40px;
}

.basket-icon {
	width: 40px;
	.number{
		color: black;
    	margin: -1px 0px 0px 3px;
    	font-size: 12px;
    	font-weight: bold;
	}
}

.navbar-toggler {
    border: none !important;

    &:focus {
        outline: none;
    }
}

.nav-link {
    margin: 0 auto;
}

.nav-item {
	position: relative;

	div {
		position: absolute;
		top: 10px;
		left: 27px;
		background-color: #FA8334;
		color: #ffffff;
		border-radius: 50%;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
		width: 12px;
		height: 12px;
	}
}